* {
    box-sizing: border-box;
}
/* Setting Font  */
body {
    font-family: 'Work Sans', sans-serif;
}
/* Smoothing Scrolling  */
html {
    scroll-behavior: smooth;
}
/* Global Variables  */
:root {
    --lightGreen: #26D381;
    --lightBlue: #00E1FF;
    --darkBlue: #2c4755;
    --greyishBlue: #545B6B;
    --almostWhite: #E6E6E6;
    --warmGreen: #10cab7;
    --darkGrey: #575757;
    --main-padding: 50px;
}
/* Fonts for different devices  */
@media (max-width: 768px) {
    body {
        font-size: 12px;
    }
}
/* Class for big grey words  */
.big-grey {
    color: #DDD;
    opacity: 0.5;
    font-size: 10em;
}
@media (max-width: 768px) {
    .big-grey {
        font-size: 6em;
    }
    .p-inside-big-grey {
        margin-top: -80px !important;
        font-size: 0.9em !important;
    }
}
.p-inside-big-grey {
    font-size: 1.4em;
    color: var(--darkGrey);
    margin-top: -180px;
    text-align: center;
}
.column-container {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row-container {
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.column-grid {
    /* width: 100%; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}
/* Class for paragraphs under them  */

/* Color of icons  */
i:not(.bars) {
    color: var(--warmGreen);
}
/* Color of bars icon  */
.bars {
    color: var(--darkBlue);
    z-index: 5;
}
/* Centering everything  */
.body {
    display: flex;
    flex-direction: column;
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

/* Start Header  */

/* Header styles  */
header {
    justify-content: flex-end !important;
    padding: 20px;
    height: 50px;
}

/* Logo size and position  */
.logo {
    height: 20px;
    margin-right: 50%;
    width: 50px;
    min-width: 50px;
    max-width: 50px;
}
/* styling bars-list div  */
.bars-list {
    order: 1;
    margin-right: 25%;
    width: 3%;
    height: 20px;
}
/* Hiding the unordered list for now  */
.hidden-list {
  visibility: hidden;
  padding: 10px;
}
.hidden-list > li {
    padding: 10px;
}
/* Showing it when the div is hovered  */
.bars-list:hover > .list-container > .hidden-list {
    visibility: visible;
    list-style-type: none;
}
/* Putting borders between each item  */
.hidden-list > li:not(:last-child) {
    border-bottom: 2px solid var(--warmGreen);
}
.bars-list:hover > .bars {
    margin-top: calc(100% + 5px);
}
.bars-list:hover {
    height: 100px;
}
.bars-list:hover > .list-container > .hidden-list > li > a{
    text-decoration: none;
    color: var(--warmGreen) ;
}
.bars-list:hover > .list-container  {
    background-color: var(--darkBlue);
    width: 200px;
    margin-top: 0;
    z-index: 3;
}

/* End Header  */

/* Start Hello Div  */
/* First div in the page  */
.hello-container {
    height: 350px;
    background-color: #EEE;
    justify-content: flex-start;
    text-align: center;
}
/* Green Header Styling  */
.hello-container > h3 {
    color: var(--warmGreen);
    font-size: 3em;
    margin-top: 30px;
    margin-bottom: 30px;
}
/* Paragraph Styling  */
.hello-container > p {
    color: var(--darkBlue);
}

/* End Hello Div  */

/* Start Three Icons Div  */

/* Second div in the page ( three icons )  */
.three-icons {
    margin-top: 40px;
    
}
@media (max-width: 768px) {
    .three-icons {
        padding: 20px 0;
    }
}
/* styling each div inside  */
.three-icons > div {
    text-align: center;
    padding: 20px;
}
/* styling each header inside each of those divs  */
.three-icons > div > h3 {
    color: var(--darkBlue);
    font-size: 0.9em;
    font-weight: 800;
}
/* styling each icon inside each of those divs  */
.three-icons > div > i {
    font-size: 2.5em;
    margin-bottom: 10px;
}
/* styling each paragraph .. .. .. .. ..  */
.three-icons > div > p {
    font-size: 0.75em;
    margin: 10px 60px;
    line-height: 1.8;
    color: var(--darkGrey);
}
/* giving a box shadow to the middle div  */
.three-icons > .second {
    box-shadow: 2px 3px 30px #EEE;
}

/* End Three Icons Div  */

/* Start Services  */

/* Styling the big word container */
.services-header {
    /* width: 100%; */
    text-align: center;
    position: relative;
    margin-top: 80px;
}
/* Styling the main section  */
.services-body {
    margin-top: 80px;
    /* width: 100%; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}
/* Styling the four icons div  */
/* .four-icons {
    width: 100%;
    display: grid;
    grid-template: 150px 150px / 300px 300px;
    gap: 0px;
    margin-left: 200px;
} */
/* Styling each div inside  */
.col > div {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}
@media (max-width: 767px) {
    .col > div {
        text-align: center;
        flex-direction: column;
    }
}
/* Styling icons  */
.col > div > i {
    font-size: 1.5em;
    flex-basis: 50px;
}
.col > div > .text-container {
    flex: 1;
}
/* Styling headers  */
.col > div > .text-container > h3 {
    font-weight: 800;
    margin-bottom: 0;
    margin-top: 0;
}
/* Styling paragraphs  */
.col > div > .text-container > p {
    font-size: 0.75em;
    /* width: 230px; */
    line-height: 1.6;
    color: var(--darkGrey);
}
/* Styling the image container  */
.col > .img-container {
    width: 350px;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
/* Positioning the image  */
@media (min-width: 1200px) {
    .services-body > .col:last-child {
        grid-row: 1 / span 2;
        grid-column: 3 / span 1;
    }
}
/* Dark Blue Border  */
.col > .img-container::after {
    content: "";
    background-color: var(--darkBlue);
    width: 80px;
    height: 100%;
    z-index: -1;
    position: absolute;
    right: 20px;

}
/* Styling image  */
.col > .img-container > img {
    width: 260px;
    height: 260px;
}
/* Hiding the image in smaller media  */
@media (max-width: 1199px) {
    .col > .img-container {
        display: none;
    }
}
/* End Services  */

/* Start Portfolio  */

/* Styling the header  */
.portfolio-header {
    /* width: 100%; */
    text-align: center;
    position: relative;
    margin-bottom: 150px;
}
/* Styling the body  */
.portfolio-body {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 25px;
}
/* Centering text in mobile  */
@media (max-width: 768px) {
    .portfolio-body {
        text-align: center;
    }
}

/* styling the headers of each div  */
.portfolio-body > div > h3 {
    font-size: 1em;
    font-weight: 800;
    padding: 10px 20px 0; 
    margin: 0;
}
/* styling each paragraph inside each div  */
.portfolio-body > div > p {
    font-size: 0.75em;
    padding: 20px;
    margin: 0;
}
/* Styling Images  */
.project > img {
    width: 260px;
    height: 200px;
}

/* End Portfolio  */

/* Start About  */


/* styling the header  */
.about-header {
    /* width: 100%; */
    text-align: center;
    position: relative;
}
/* styling the body  */
.about-body {
    margin: 100px auto;
    position: relative;
}
@media (max-width: 768px) {
    .about-body {
        flex-direction: column;
    }
}
/* styling the image  */
.about-body > div > img {
    width: 250px;
    height: 250px;
    max-width: 100%;
    min-width: 250px;
}
/* styling the img container  */
.about-body > .img-container {
    position: relative;
}
/* styling the border  */
.about-body > .img-container::after {
    content: "";
    width: 60px;
    height: calc(100% - 60px);
    border-left: 60px solid var(--warmGreen);
    border-bottom: 60px solid var(--warmGreen);
    z-index: -1;
    position: absolute;
    top: -30px;
    right: -85px;
}
/* styling the paragraphs container */
.about-body > .next-to-img {
    align-self: flex-start;
    padding: 0 150px;
}
/* Adjusting for mobile  */
@media (max-width: 768px) {
    .about-body > .next-to-img {
        padding: 30px;
    }
    .about-body > .img-container::after {
        display: none;
    }
    .about-body > .img-container > img {
        margin: 0 auto 60px;
    }
}
.abou
/* styling the first paragraph  */
.about-body > .next-to-img > div > .first-p {
    font-weight: 800;
    color: var(--darkBlue);
    line-height: 2;
}
/* styling the second paragraph  */
.about-body > .next-to-img > div > .second-p {
    font-size: 0.75em;
    margin-top: 20px;
    line-height: 2;
    color: #777;
}
/* putting the green line between the paragraphs  */
.about-body > .next-to-img > .first-p-container::after {
    content: "___________________________";
    color: var(--warmGreen);

}

/* End About  */

/* Start Contact  */

/* styling the container  */
.contact-container {
    margin-bottom: 30px;
}
/* styling the header  */
.contact-header {
    /* width: 100%; */
    text-align: center;
    position: relative;
    margin-bottom: 100px;
}
/* styling the body  */
.contact-body {
    align-self: flex-start;
}
/* styling first header  */
.contact-body > h2 {
    font-size: 2.5em;
    font-weight: 800;
    color: var(--darkBlue);
}
/* styling second header  */
.contact-body > h3 {
    font-size: 2.5em;
    font-weight: 800;
    color: var(--warmGreen);
    padding: 0 25px;
}
/* styling last header  */
.contact-body > .socials-container > h5 {
    font-size: 1em;
    padding-left: 60px;
    color: var(--darkBlue);
    min-width: 280px;
}
/* styling icons container  */
.icons-container {
    justify-content: flex-start;
}
/* styling the icons  */
.icons-container > a > i {
    color: var(--darkBlue);
    padding-left: 20px;
}

/* Adjusting for mobile  */
@media (max-width: 768px) {
    .contact-body {
        text-align: center;
    }
    .contact-body > h3 {
        padding: 0;
        font-size: 2em;
    }
    .contact-body > h2 {
        padding: 0;
        font-size: 2em;
    }
    .contact-body > .socials-container > h5 {
        padding: 0;
        min-width: 165px; 
    }
    .contact-body > .socials-container > .icons-container > a > i {
        padding-left: 5px;
    }
}

/* End Contact  */

/* Start Footer  */

footer {
    /* width: 100%; */
    height: 60px;
    background-color: var(--darkBlue);
    color: white;
}
.footer-text {
    padding: 25px;
    font-size: 0.65em;
    font-weight: 800;
    text-align: center;
}
.footer-text > span {
    color: var(--warmGreen);
}
